$size-dismiss-icon: 24px;

.blush-modal-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
	z-index: 999;
	background-color: map.get($transparency, '003');
	transition: all 400ms linear;

	.blush-modal {
		display: flex;
		flex-direction: column;
		width: 30%;
		max-width: 80%;
		max-height: 400px;
		position: relative;
		border-radius: map.get($border-radius, 'small');
		transition: all 400ms linear;

		@media (max-width: 1200px) {
			width: 40%;
		}

		@media (max-width: 992px) {
			width: 50%;
		}

		@media (max-width: 768px) {
			width: 95%;
			max-width: 95%;
		}

		> .dismiss-icon {
			border: none;
			position: absolute;
			width: $size-dismiss-icon;
			height: $size-dismiss-icon;
			right: spacing(3);
			top: spacing(3);
			cursor: pointer;
		}

		.header {
			flex: 1;
			padding: spacing(3);

			&.with-dismiss {
				padding-right: calc($size-dismiss-icon + spacing(4));
			}
			
			@include typography-body-2
		}

		.content {
			flex: 0;
			overflow-y: auto;
			padding: spacing(3);

			&.with-dismiss {
				padding-right: calc($size-dismiss-icon + spacing(4));
			}

			@include typography-body-2
		}

		.footer {
			flex: 1;
			padding: spacing(3);

			@include typography-body-2
		}

		// ***Colors
		&.primary {
			background-color: map.get($primary-absolute, '001');
			border: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
			color: map.get($neutral, '013');
			
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
			}

			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
			}
		}

		&.primary-outline {
			background-color: map.get($primary-absolute, '007');
			border: map.get($border-width, 'nano') solid map.get($primary-absolute, '001');
			color: map.get($neutral, '003');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($primary-absolute, '001');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($primary-absolute, '001');
			}
		}

		&.accent {
			background-color: map.get($accent-absolute, '001');
			border: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
			color: map.get($neutral, '013');

			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}
	
			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
			}
		}

		&.accent-outline {
			background-color: map.get($accent-absolute, '007');
			border: map.get($border-width, 'nano') solid map.get($accent-absolute, '001');
			color: map.get($neutral, '003');

			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}
	
			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($accent-absolute, '001');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($accent-absolute, '001');
			}
		}

		&.success {
			background-color: map.get($success-absolute, '001');
			border: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
			color: map.get($neutral, '013');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
			}
		}

		&.success-outline {
			background-color: map.get($success-absolute, '007');
			border: map.get($border-width, 'nano') solid map.get($success-absolute, '001');
			color: map.get($neutral, '003');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($success-absolute, '001');
			}

			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($success-absolute, '001');
			}
		}

		&.warning {
			background-color: map.get($warning-absolute, '001');
			border: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
			color: map.get($neutral, '013');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
			}
		}

		&.warning-outline {
			background-color: map.get($warning-absolute, '007');
			border: map.get($border-width, 'nano') solid map.get($warning-absolute, '001');
			color: map.get($neutral, '003');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($warning-absolute, '001');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($warning-absolute, '001');
			}
		}

		&.danger {
			background-color: map.get($error-absolute, '001');
			border: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
			color: map.get($neutral, '013');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
			}
		}

		&.danger-outline {
			background-color: map.get($error-absolute, '007');
			border: map.get($border-width, 'nano') solid map.get($error-absolute, '001');
			color: map.get($neutral, '003');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($error-absolute, '001');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($error-absolute, '001');
			}
		}

		&.neutral {
			background-color: map.get($neutral, '004');
			border: map.get($border-width, 'nano') solid map.get($neutral, '007');
			color: map.get($neutral, '013');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-013')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($neutral, '007');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($neutral, '007');
			}
		}

		&.neutral-outline {
			background-color: map.get($neutral, '013');
			border: map.get($border-width, 'nano') solid map.get($neutral, '011');
			color: map.get($neutral, '005');
	
			> .dismiss-icon {
				filter: map.get($filter, 'neutral-008')
			}

			.header {
				border-bottom: map.get($border-width, 'nano') solid map.get($neutral, '011');
			}
	
			.footer {
				border-top: map.get($border-width, 'nano') solid map.get($neutral, '011');
			}
		}
	}
}
