.blush-tooltip {
    position: relative;
	width: auto;
	overflow-x: visible;
	display: flex;
	justify-content: center;

	.tooltip {
		position: absolute;
		z-index: map-get($z-index, 'high');
		padding: spacing(1) 0;
		border-radius: map-get($border-radius, 'small');
		width: max-content;
		display: none;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
		}

		.title, .content {
			padding: 0 spacing(3);
		}
		.title {
			display: block;
			padding-bottom: spacing(1);
			margin-bottom: spacing(1);
		}
	}

	&.hover:hover,
	&.always {
		.tooltip {
			display: block;
		}
	}

	&.top {
		.tooltip {
			bottom: calc(100% + spacing(1));

			&::before {
				top: 100%;
				border-left: map-get($border-width, 'small') solid transparent;
				border-right: map-get($border-width, 'small') solid transparent;
				border-top: map-get($border-width, 'small') solid transparent;
				border-bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&.bottom {
		.tooltip {
			top: calc(100% + spacing(1));

			&::before {
				bottom: 100%;
				border-left: map-get($border-width, 'small') solid transparent;
				border-right: map-get($border-width, 'small') solid transparent;
				border-bottom: map-get($border-width, 'small') solid transparent;
				border-top: 0;
				left: 50%;
				transform: translateX(-50%);left: 50%;
				transform: translateX(-50%);
			}
		}
	}

    // ***Colors
	&.primary {
		.tooltip {
			background-color: map-get($primary-absolute, '001');
			border: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
			color: map-get($neutral, '013');

			.title {
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($primary-absolute, '001');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($primary-absolute, '001');
				}
			}
		}
	}

	&.accent {
		.tooltip {
			background-color: map-get($accent-absolute, '001');
			border: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
			color: map-get($neutral, '013');

			.title {
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($accent-absolute, '001');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($accent-absolute, '001');
				}
			}
		}
	}

	&.success {
		.tooltip {
			background-color: map-get($success-absolute, '001');
			border: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
			color: map-get($neutral, '013');

			.title {
				border-bottom:  map-get($border-width, 'nano') solid map-get($success-absolute, '004');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($success-absolute, '001');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($success-absolute, '001');
				}
			}
		}
	}

	&.warning {
		.tooltip {
			background-color: map-get($warning-absolute, '001');
			border: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
			color: map-get($neutral, '013');

			.title {
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($warning-absolute, '001');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($warning-absolute, '001');
				}
			}
		}
	}

	&.danger {
		.tooltip {
			background-color: map-get($error-absolute, '001');
			border: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
			color: map-get($neutral, '013');

			.title {
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($error-absolute, '001');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($error-absolute, '001');
				}
			}
		}
	}


	&.neutral {
		.tooltip {
			background-color: map-get($neutral, '004');
			border: map-get($border-width, 'nano') solid map-get($neutral, '007');
			color: map-get($neutral, '013');

			.title {
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '007');
			}
		}

		&.top {
			.tooltip {
				&::before {
					border-top-color: map-get($neutral, '004');
				}
			}
		}

		&.bottom {
			.tooltip {
				&::before {
					border-bottom-color: map-get($neutral, '004');
				}
			}
		}
	}
}
