.blush-card {
    box-sizing: border-box;
    border-radius: map.get($border-radius, 'small');
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .image-top {
        border-top-left-radius: map.get($border-radius, 'small');
        border-top-right-radius: map.get($border-radius, 'small');
        width: 100%;
    }

    .image-bottom {
        border-bottom-left-radius: map.get($border-radius, 'small');
        border-bottom-right-radius: map.get($border-radius, 'small');
        width: 100%;
    }

    .header {
        padding: spacing(3) spacing(3) spacing(2);

        @include typography-body-3;
    }

   .main {
        padding: spacing(3);

        @include typography-body-3;

        .title {
            margin: 0;
    
            @include typography-title-5;
       }
    
       .subtitle {
            margin: spacing(1) 0 0;
    
            @include typography-label-1;
       }

       .content {
        margin-top: spacing(3);
       }
   }

   .footer {
        padding: spacing(2) spacing(3) spacing(3);

        @include typography-body-3;
    }

    // ***Colors
    &.primary {
        background-color: map.get($primary-absolute, '001');
        border: map.get($border-width, 'nano') solid map.get($primary-absolute, '011');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
        }
    }

    &.primary-outline {
        background-color: map.get($primary-absolute, '007');
        border: map.get($border-width, 'nano') solid map.get($primary-absolute, '001');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($primary-absolute, '004');
        }
    }

    &.accent {
        background-color: map.get($accent-absolute, '001');
        border: map.get($border-width, 'nano') solid map.get($accent-absolute, '011');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
        }
    }

    &.accent-outline {
        background-color: map.get($accent-absolute, '007');
        border: map.get($border-width, 'nano') solid map.get($accent-absolute, '001');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($accent-absolute, '004');
        }
    }

    &.success {
        background-color: map.get($success-absolute, '001');
        border: map.get($border-width, 'nano') solid map.get($success-absolute, '011');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
        }
    }

    &.success-outline {
        background-color: map.get($success-absolute, '007');
        border: map.get($border-width, 'nano') solid map.get($success-absolute, '001');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($success-absolute, '004');
        }
    }

    &.warning {
        background-color: map.get($warning-absolute, '001');
        border: map.get($border-width, 'nano') solid map.get($warning-absolute, '011');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
        }
    }

    &.warning-outline {
        background-color: map.get($warning-absolute, '007');
        border: map.get($border-width, 'nano') solid map.get($warning-absolute, '001');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($warning-absolute, '004');
        }
    }

    &.danger {
        background-color: map.get($error-absolute, '001');
        border: map.get($border-width, 'nano') solid map.get($error-absolute, '011');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
        }
    }

    &.danger-outline {
        background-color: map.get($error-absolute, '007');
        border: map.get($border-width, 'nano') solid map.get($error-absolute, '001');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($error-absolute, '004');
        }
    }

    &.neutral {
        background-color: map.get($neutral, '004');
        border: map.get($border-width, 'nano') solid map.get($neutral, '007');
        color: map.get($neutral, '013');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($neutral, '006');
        }

        .main {
            .title {
                color: map.get($neutral, '013');
            }
    
            .subtitle {
                color: map.get($neutral, '012');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($neutral, '006');
        }
    }

    &.neutral-outline {
        background-color: map.get($neutral, '013');
        border: map.get($border-width, 'nano') solid map.get($neutral, '011');
        color: map.get($neutral, '003');

        .header {
            border-bottom: map.get($border-width, 'nano') solid map.get($neutral, '011');
        }

        .main {
            .title {
                color: map.get($neutral, '003');
            }
    
            .subtitle {
                color: map.get($neutral, '005');
            }
        }

        .footer {
            border-top: map.get($border-width, 'nano') solid map.get($neutral, '011');
        }
    }
}