$primary-absolute: (
    "001": #D6A235,
    "002": #EAB543,
    "003": #EEC469,
    "004": #F2D38E,
    "005": #F7E1B4,
    "006": #FBF0D9,
    "007": #FDF8EC,
);
$primary-alpha: (
    "001": rgba(214, 162, 53, 100%),
    "002": rgba(234, 181, 67, 100%),
    "003": rgba(234, 181, 67, 80%),
    "004": rgba(234, 181, 67, 60%),
    "005": rgba(234, 181, 67, 40%),
    "006": rgba(234, 181, 67, 20%),
    "007": rgba(234, 181, 67, 10% ),
);
$accent-absolute: (
    "001": #82589F,
    "002": #8F69A9,
    "003": #9B79B2,
    "004": #B49BC5,
    "005": #CDBCD9,
    "006": #E6DEEC,
    "007": #F3EEF5,
);
$accent-alpha: (
    "001": rgba(130, 88, 159, 100%),
    "002": rgba(130, 88, 159, 90%),
    "003": rgba(130, 88, 159, 80%),
    "004": rgba(130, 88, 159, 60%),
    "005": rgba(130, 88, 159, 40%),
    "006": rgba(130, 88, 159, 20%),
    "007": rgba(130, 88, 159, 10%),
);
$success-absolute: (
    "001": #3DAB95,
    "002": #58B19F,
    "003": #79C1B2,
    "004": #9BD0C5,
    "005": #BCE0D9,
    "006": #DEEFEC,
    "007": #EEF7F5,
);
$success-alpha: (
    "001": rgba(61, 171, 149, 100%),
    "002": rgba(88, 177, 159, 100%),
    "003": rgba(88, 177, 159, 80%),
    "004": rgba(88, 177, 159, 60%),
    "005": rgba(88, 177, 159, 40%),
    "006": rgba(88, 177, 159, 20%),
    "007": rgba(88, 177, 159, 10% ),
);
$warning-absolute: (
    "001": #F97F51,
    "002": #FA8C62,
    "003": #FA9974,
    "004": #FBB297,
    "005": #FDCCB9,
    "006": #FEE5DC,
    "007": #FEF2EE,
);
$warning-alpha: (
    "001": rgba(249, 127, 81, 100%),
    "002": rgba(249, 127, 81, 90%),
    "003": rgba(249, 127, 81, 80%),
    "004": rgba(249, 127, 81, 60%),
    "005": rgba(249, 127, 81, 40%),
    "006": rgba(249, 127, 81, 20%),
    "007": rgba(249, 127, 81, 10% ),
);
$error-absolute: (
    "001": #E05E5E,
    "002": #FD7272,
    "003": #FD8E8E,
    "004": #FEAAAA,
    "005": #FEC7C7,
    "006": #FFE3E3,
    "007": #FFF1F1,
);
$error-alpha: (
    "001": rgba(224, 94, 94, 100%),
    "002": rgba(253, 114, 114, 100%),
    "003": rgba(249, 127, 81, 80%),
    "004": rgba(249, 127, 81, 60%),
    "005": rgba(249, 127, 81, 40%),
    "006": rgba(249, 127, 81, 20%),
    "007": rgba(249, 127, 81, 10% ),
);
$neutral: (
    "001": #000,
    "002": #222,
    "003": #373737,
    "004": #515151,
    "005": #646464,
    "006": #7E7E7E,
    "007": #959595,
    "008": #A4A4A4,
    "009": #BEBEBE,
    "010": #D2D2D2,
    "011": #E1E1E1,
    "012": #ECECEC,
    "013": #F2F2F2,
    "014": #FFF,
);
$transparency: (
    "001": rgba(0, 0, 0, 10%),
    "002": rgba(0, 0, 0, 20%),
    "003": rgba(0, 0, 0, 30%),
    "004": rgba(0, 0, 0, 40%),
    "005": rgba(0, 0, 0, 50%),
    "006": rgba(0, 0, 0, 60%),
    "007": rgba(0, 0, 0, 70%),
    "008": rgba(0, 0, 0, 80%),
    "009": rgba(0, 0, 0, 90%),
);
