.blush-list {
    max-width: 100%;
    overflow-x: auto;
	width: 100%;
	border-radius: map-get($border-radius, 'small');

	.header, .footer {
		padding: spacing(3);

		@include typography-body-3
	}

	ul.list {
		list-style: none;
		padding: 0;
		margin: 0;

		li.item {
			padding: spacing(2) spacing(3);

			@include typography-body-3
		}
	}

    // ***Colors
	&.primary {
		background-color: map-get($primary-absolute, '001');
		border: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
		color: map-get($neutral, '013');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
		}
	}

	&.primary-outline {
		background-color: map-get($primary-absolute, '007');
		border: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
		color: map-get($neutral, '003');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
		}
	}

	&.accent {
		background-color: map-get($accent-absolute, '001');
		border: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
		color: map-get($neutral, '013');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
		}
	}

	&.accent-outline {
		background-color: map-get($accent-absolute, '007');
		border: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
		color: map-get($neutral, '003');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
		}
	}

	&.success {
		background-color: map-get($success-absolute, '001');
		border: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
		color: map-get($neutral, '013');


		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
		}
	}

	&.success-outline {
		background-color: map-get($success-absolute, '007');
		border: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
		color: map-get($neutral, '003');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
		}
	}

	&.warning {
		background-color: map-get($warning-absolute, '001');
		border: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
		color: map-get($neutral, '013');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
		}
	}

	&.warning-outline {
		background-color: map-get($warning-absolute, '007');
		border: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
		color: map-get($neutral, '003');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
		}
	}

	&.danger {
		background-color: map-get($error-absolute, '001');
		border: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
		color: map-get($neutral, '013');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
		}
	}

	&.danger-outline {
		background-color: map-get($error-absolute, '007');
		border: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
		color: map-get($neutral, '003');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
		}
	}

	&.neutral {
		background-color: map-get($neutral, '004');
		border: map-get($border-width, 'nano') solid map-get($neutral, '007');
		color: map-get($neutral, '013');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '007');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '007');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($neutral, '007');
		}
	}

	&.neutral-outline {
		background-color: map-get($neutral, '013');
		border: map-get($border-width, 'nano') solid map-get($neutral, '011');
		color: map-get($neutral, '005');

		.header {
			border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '011');
		}

		ul.list {
			li.item:not(:last-child) {
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '011');
			}
		}

		.footer {
			border-top: map-get($border-width, 'nano') solid map-get($neutral, '011');
		}
	}
}
