.blush-table {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    table {
		border-spacing: 0px;

        tr {
            height: 44px;

            &:last-of-type {
                td:first-of-type {
                    border-bottom-left-radius: map-get($border-radius, 'small');
                }
            }

            &:last-of-type {
                td:last-of-type {
                    border-bottom-right-radius: map-get($border-radius, 'small');
                }
            }
            

            th {
				text-align: start;
				padding: spacing(2) spacing(3);

				&:first-of-type {
					border-top-left-radius: map-get($border-radius, 'small');
				}

				&:last-of-type {
					border-top-right-radius: map-get($border-radius, 'small');
				}
				
                @include typography-label-2;
            }

			td {
				padding: spacing(2) spacing(3);

				@include typography-label-1;
			}
        }
    }

    // ***Colors
    &.primary {
        table {
			th {
				background-color: map-get($primary-absolute, '001');
				border-top: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				}
			}

			td {
				background-color: map-get($primary-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($primary-absolute, '004');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($primary-absolute, '007');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

    &.primary-outline {
        table {
			th {
				background-color: map-get($primary-absolute, '007');
				border-top: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($primary-absolute, '001');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($primary-absolute, '007');
                    }
                }
            }
        }
    }

    &.accent {
        table {
			th {
				background-color: map-get($accent-absolute, '001');
				border-top: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				}
			}

			td {
				background-color: map-get($accent-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($accent-absolute, '004');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($accent-absolute, '007');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

    &.accent-outline {
        table {
			th {
				background-color: map-get($accent-absolute, '007');
				border-top: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($accent-absolute, '001');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($accent-absolute, '007');
                    }
                }
            }
        }
    }

    &.success {
        table {
			th {
				background-color: map-get($success-absolute, '001');
				border-top: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				}
			}

			td {
				background-color: map-get($success-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($success-absolute, '004');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($success-absolute, '007');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

    &.success-outline {
        table {
			th {
				background-color: map-get($success-absolute, '007');
				border-top: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($success-absolute, '001');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($success-absolute, '007');
                    }
                }
            }
        }
    }

    &.warning {
        table {
			th {
				background-color: map-get($warning-absolute, '001');
				border-top: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				}
			}

			td {
				background-color: map-get($warning-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($warning-absolute, '004');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($warning-absolute, '007');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

    &.warning-outline {
        table {
			th {
				background-color: map-get($warning-absolute, '007');
				border-top: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($warning-absolute, '001');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($warning-absolute, '007');
                    }
                }
            }
        }
    }

    &.danger {
        table {
			th {
				background-color: map-get($error-absolute, '001');
				border-top: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				}
			}

			td {
				background-color: map-get($error-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($error-absolute, '004');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($error-absolute, '007');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

    &.danger-outline {
        table {
			th {
				background-color: map-get($error-absolute, '007');
				border-top: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($error-absolute, '001');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($error-absolute, '007');
                    }
                }
            }
        }
    }

    &.neutral {
        table {
			th {
				background-color: map-get($neutral, '004');
				border-top: map-get($border-width, 'nano') solid map-get($neutral, '007');
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '007');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($neutral, '007');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($neutral, '007');
				}
			}

			td {
				background-color: map-get($neutral, '004');
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '007');
				color: map-get($neutral, '013');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($neutral, '007');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($neutral, '007');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(odd) {
                    td {
                        background-color: map-get($neutral, '013');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
    }

	&.neutral-outline {
		table {
			th {
				background-color: map-get($neutral, '013');
				border-top: map-get($border-width, 'nano') solid map-get($neutral, '012');
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '012');
				color: map-get($neutral, '005');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($neutral, '012');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($neutral, '012');
				}
			}

			td {
				background-color: map-get($neutral, '014');
				border-bottom: map-get($border-width, 'nano') solid map-get($neutral, '012');
				color: map-get($neutral, '003');

				&:first-child {
					border-left: map-get($border-width, 'nano') solid map-get($neutral, '012');
				}

				&:last-child {
					border-right: map-get($border-width, 'nano') solid map-get($neutral, '012');
				}
			}
		}

        &.stripped {
            table {
                tr:nth-child(even) {
                    td {
                        background-color: map-get($neutral, '013');
                        color: map-get($neutral, '003');
                    }
                }
            }
        }
	}
}